.container {
  height: 100vh;
  background-color: #020206;
}

.title {
  font-size: 2rem;
  margin-bottom: 12px;
  color: #333;
}

.description {
  font-size: 1rem;
  color: #666;
}

.banner{
  display: flex;
  height: 40rem;
  overflow: hidden;
  background-color: #161714;
}

.line {
  width: 60%;
  height: 8rem;
  margin-top: 10rem;
  transform: rotate(-60deg);
  background: linear-gradient(50deg, #161714, #CE227A);
}